venv
.venv
.env
__pycache__
db.sqlite3
media
/staticfiles
staticfiles
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
/.idea
db_schema_and_rules.txt
assistant_memory.db
AI_ASSISTANT_PERRACOSOFT_CHATS/